@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: #8c4bb7;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover,
nav a.active{
    color: #8c4bb7;
    border-bottom: 3px solid #8c4bb7;
}
@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #8c4bb7;
        border-bottom: 3px solid #8c4bb7;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #8c4bb7;
    }
}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}
.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
span{
    color: #8c4bb7;
}

.home-myname{
    color: #8c4bb7;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home-content p{
    font-size: 1.6rem;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #8c4bb7;
    cursor: pointer;
    transition: 0.2s linear;
}
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #8c4bb7;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #8c4bb7;
}
.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #8c4bb7;
    box-shadow: 0  0 25px #8c4bb7;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #8c4bb7;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #8c4bb7;
    transition: 0.3s ease;
    cursor: pointer;
}

a.btn:nth-of-type(2) {
     margin-left: 10px;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #8c4bb7;
    color: black;
    box-shadow: 0 0 25px #8c4bb7;
}
.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span{
    position: relative;
}
.typing-text span::before{
    content: "QA Analist";
    color: #8c4bb7;
}
.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
}

.white-theme {
    background-color: white !important;
    color: black !important;
}

.white-theme .home {
    background-color: white !important;
    color: black !important;
}

.white-theme header {
    background-color: transparent !important;
    color: black !important;
}

.white-theme nav a {
    color: black !important;
}

.white-theme nav a:hover,
.white-theme nav a.active {
    color: #8c4bb7 !important;
}

.white-theme .btn {
    background-color: white !important;
    color: #8c4bb7 !important;
}

.white-theme .btn:hover {
    background-color: #8c4bb7 !important;
    color: white !important;
}

 .white-theme .typing-text span::after{
    background-color: rgb(255, 255, 255) !important;
 }

 #cambiar-tema.btn{
    position: relative;
    top: 25rem;
    left: 60rem;
 }
/*Skills*/


.skills-title{
    text-align: center;
    margin-top: 80px;
    font-size: 3rem;
    color: #8c4bb7;
}

.skills-text{
    text-align: center;
    margin-top: 15px;
    font-size: 1.5rem;
}
 
.container-skills {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 320px;
    background-color: rgb(31, 15, 43);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(178, 122, 204, 0.2);
    font-size: 2rem;
    color: #8c4bb7;
    margin-top: 50px;
    transition: transform 0.3s ease; 
}

.container-skills:hover {
    transform: translate(-50%, -50%) scale(1.05);
  }

.container-skills .skills-1{
    margin: 20px 0;
}

.container-skills .skills-1 p{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-skills .skills-1 .progress {
    position: relative;
    width: 100%;
    height: 6px;
    background: #9b9b9b;
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0;
    transition: width 2s ease;
}

.container-skills .skills-1 .progress::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: var(--wth, 0%); 
    height: 100%;
    background: #340064;
    transition: width 2s ease; 
}



/*Education*/

.education-title {
    text-align: center;
    margin: 100px 0 40px 0;
    font-size: 2.3rem;
    color: #8c4bb7; 
}

.content-text{
    font-size: 13px;
    color:rgb(218, 160, 218)
}

.content-text-1{
    font-size: 14px;
}

.content-text-2{
    font-size: 14px;
    color: rgb(218, 160, 218)
}

.timelines-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 2rem 0 2rem;
    
}

.education-timeline {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    padding: 10px;
    margin-top: 20px; 
}

.education-timeline h2 {
    text-align: center;
    color: #8c4bb7;
    margin-bottom: 2rem;
}

.timeline {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.timeline-content {
    padding: 1.75rem;
    background: rgb(31, 15, 43);
    -webkit-box-shadow: 5px 5px 10px #100c11, -5px -5px 10px #2d2a31;
            box-shadow: 5px 5px 10px #100c11, -5px -5px 10px #2d2a31;
    border-radius: 5px;
    color: white;
    overflow-wrap: break-word !important;
    margin-bottom: 20px;
}

.timeline-component {
    margin: 0 20px 20px;
}

@media (min-width: 760px) {
    .timeline {
        display: grid;
        grid-template-columns: 1fr 15px 1fr;
    }
    
    .timeline > div:nth-child(3n + 1) {
        justify-self: end;
        margin-right: 30px; 
        width: 80%; 
    }

    .timeline > div:nth-child(3n + 3) {
        justify-self: start; 
        margin-left: 30px; 
        width: 80%; 
    }

    .timeline-middle {
        position: relative;
        background-image: linear-gradient(45deg, #8c4bb7, #6b2fad, #4a1f7f);
        width: 3px;
        min-height: 100%;
    }
    
    .timeline-circle {
        position: absolute;
        top: 0px;
        left: 50%;
        width: 15px;
        height: 15px;
        background-image: linear-gradient(45deg, #8c4bb7, #6b2fad, #4a1f7f);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        border-radius: 50%;
    }
}

@media (max-width: 759px) {
    .timelines-container {
        flex-direction: column;
        align-items: center;
    }
    
    .education-timeline {
        width: 100%;
    }
}

.skills-body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

/*Contact*/

.contact-b{
    display: flex !important; 
    justify-content: center !important;
    align-items: center !important;
    min-height: 100vh !important;
    width: 100% !important;
}


